@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
.stylejumbo {
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    border: solid 1px rgba(160, 0, 0, 0.2);
    box-shadow: 0 0 5px black;
    height: 800px;
    box-shadow: 0 0 5px black;
    transition: 0.2s ease-in-out;
}
.stylejumbo h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 7em;
    font-style: italic;
    color: white;
    font-weight: 300;
    margin-top: 0px;
}
ul {
    list-style-type: none;
    padding-left: 0px;
    background-size: 
}
li {
    position: relative;
    top: 15px;
    display: inline;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.6);
    font-size: 1.5em;
    text-shadow: 0px 0px 2px white, 0 0 2px white;
    font-weight: bold;
    box-shadow: 0 0 5px black;
}
.buttonstyle {
    position: relative;
    left: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: black solid 1px;
    box-shadow: 0 0 2px black;
    text-shadow: 0px 0px 2px black, 0 0 2px black;
    color: aqua;
    cursor: default;
}
.buttonstyle:hover {
    box-shadow: 0 0 5px aqua;
}
@media screen and (max-width: 600px) {
    li {
        display: block;
        margin-top: 10px;
    }
    .buttonstyle {
        font-size: 0.7em;
        left: 115px;
    }
}
@media screen and (max-width: 350px) {
    .buttonstyle {
        left: 0px;
    }
}
